.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dark-mode {
  background-color: #282c34;
  color: white;
}

button {
  width: 100%;
  font-weight: bold;
  font-size: .6em;
  background-color: #148abe;
  color: white;
  cursor: pointer;
  height: 2.3em;
  margin: .3em auto;
}

button:hover {
  background-color: #20b1f0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
